.blog .blog-img{
    background-image: url(../MEDIA/politica_img/putin_enojado.jpg);
    width: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.blog .blog-img2{
    background-image: url(../MEDIA/politica_img/añez_murillo_lopez.jpg);
    width: 50%;
    height: 600px;
    background-size: cover;
    background-position: center;
}