
body{
    font-family: 'Oswald', sans-serif;

    }
    
    .container-fluid{
        margin-left: 72px;
      
    }
    .mainContainer{
        height: 1805px;

    }
    .welcomeText{
        font-size: 44px;
    }
    .card1{
        margin-bottom: 112px;
        margin-top: 0px;
        margin-left: 50%;
    }
    .card2{
        margin-left: 24px;
        margin-bottom: 112px;
        margin-top: 0px;
        
    }
    .card-img-top{
        height: 800px;
        width: 800px;
    }
    .card-text{
      font-size: 18px;
      line-height: 180%;
       text-align: justify;
    }
    .card-title{
        font-weight: bold;
    }
    .card-body img, .card-body2 img{
      opacity: 0.78;
        box-shadow: 10px 10px 52px rgb(73, 69, 69);
        
    }
  
    .card-body img:hover, .card-body2 img:hover{
      cursor: pointer;
      opacity: 1;
        box-shadow: 18px 18px 60px rgb(73, 69, 69);
    }
    .nav-link{
        font-size: 22px;
    }
    